<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="trace"
      internalLogFile="log/internal-nlog.txt"
      throwExceptions="true"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="apiItemLog" xsi:type="Database">
      <connectionString>Server=tcp:flqa.database.windows.net,1433;Initial Catalog=LogsAppQA;Persist Security Info=False;User ID=fladminpower;Password=gTYgh$565gsYqw23#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</connectionString>
      <commandText>
        insert into dbo.PostsAPILog (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <!-- repeated -->
    </target>
  </targets>

  <rules>

    <logger name="*" minlevel="Debug" appendTo="apiUserLog"/>
  </rules>
</nlog>




