<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="trace"
      internalLogFile="D:/log/internal-nlog.txt"
      throwExceptions="true"
      throwConfigExceptions="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="apiVoteLog" xsi:type="Database">
      <connectionString>Data Source=.\SQLEXPRESS; initial catalog=LogsAppDEV; Integrated Security=True;</connectionString>
      <commandText>
        insert into dbo.VoteAPILog (
        MachineName, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @MachineName, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <!-- repeated -->
    </target>
  </targets>

  <rules>

    <logger name="*" minlevel="Debug" appendTo="apiVoteLog"/>
  </rules>
</nlog>




